.header
  .icon-space-left
    = fa_icon 'bars', class: 'select-icon-1 fa-4x'
  .header-logo-space
    = image_tag("/thecoveroriginal-logo01.png", class: 'header-logo')
  .icon-space-right
    = link_to 'https://www.instagram.com/elepaint_gallery/', class: 'select-icon-2' do
      = fa_icon 'envelope', class: 'fa-4x'
.select-bar-space
  = link_to 'HOME', root_path, class: 'select-bar-1'
  = link_to 'ABOUT', about_views_path, class: 'select-bar-1'
  = link_to 'NEWS', news_1_views_path, class: 'select-bar-1'
  = link_to 'お問い合わせ', about_views_path, class: 'select-bar-1'

.news-2-space
  .news-2-title-space
    %p.news-title THE COVER ORIGINAL<br><br>
    First Presents 10/10(SAT) 20:00 start<br>
= javascript_include_tag 'views.js'